* {
  box-sizing: border-box;
  margin: 0;
}
.column-box {
  display: flex;
  min-height: 100svh;
}

.banner-section {
  border: solid black;
  flex: 1 0 0;
}
.banner-section > img {
  width: 100%;
  height: 100%;
}
.banner {
}
.content-section {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}
.content-section > * {
  padding-left: 5%;
  padding-right: 25%;
}
form {
  background-color: #ffffff;
  border-top: 10px hidden grey;
  margin-block: 25px;
  box-shadow: 0px 2px 5px rgb(204, 204, 204);
  padding-block: 1rem;
}
.input-fields {
  display: flex;
  flex-direction: column;
}
label {
  display: block;
  font-size: 0.75rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.input-container {
  padding-block: 0.5rem;
  flex: 1;
}
input {
  outline: none;
  padding-block: 5px;
  border-radius: 5px;
  min-width: 90%;
}
input:invalid {
  border: 0.5px solid #b91c1c;
}
input:valid {
  border: 0.5px solid lightgreen;
}
input:focus {
  outline: none;
  box-shadow: 2px 2px 2px rgb(204, 204, 204);
  border: 0.5px solid lightskyblue;
}
button {
  padding-block: 0.5rem;
  padding-inline: 2rem;
  box-shadow: 2px 2px 2px rgb(204, 204, 204);
  border: none;
  border-radius: 5px;
  background-color: #596d48;
  color: white;
}
